body {
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
}

nav {
    height: 90px !important;    
    display: flex;
    width: 100%;
    background-color: #05528B;
    text-align: center;
    margin: 0;
}

.footer{
    height: 70px;
    width: 100%;
    background-color: #333333;
    bottom: 0px;
    position: fixed;
}
    .foot-l {
        color: #dbdbdb;
        margin-left: 25px;       
        font-family: DINPro,Helvetica,Arial,Sans-Serif;
    }
    .foot-l2 {
        font-size: small;
        color: #dbdbdb5e;
        margin-left: 25px;   
        font-family: DINPro,Helvetica,Arial,Sans-Serif;
    }
    .foot-l3 {
        font-size: small;
        color: #dbdbdb5e;
        margin-left: 25px;
        font-family: DINPro,Helvetica,Arial,Sans-Serif;
    }
        
    .foot-r {
        float: right;
        color: #dbdbdb;
        margin-right: 15px;  
        font-family: DINPro,Helvetica,Arial,Sans-Serif;
    }
.uitlogbttn{
    padding:0.3em 1.2em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}    
.hamburger{
    font-size: 55px;
    color: white;
    display: none;
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 56px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  @media only screen and (min-width: 320px) and (max-width: 480px) {

    .footer{
        display: none;
    }
    
    
    }